/*! Style Notes  */ /*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

# Front-end Style Guide
## Layout
  The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px

## Colors
  ### Primary
    - Pale blue: hsl(225, 100%, 94%)
    - Bright blue: hsl(245, 75%, 52%)

  ### Neutral
    - Very pale blue: hsl(225, 100%, 98%)
    - Desaturated blue: hsl(224, 23%, 55%)
    - Dark blue: hsl(223, 47%, 23%)

## Typography
  ### Body Copy
    - Font size (paragraph): 16px

  ### Font
    - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
    - Weights: 500, 700, 900

*/
/*! General style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: hsl(224, 23%, 55%);

  background-image: linear-gradient(
      rgba(224, 232, 255, 0.7),
      rgba(224, 232, 255, 0.7)
    ),
    url("/images/pattern-background-mobile.svg");
  background-repeat: repeat-x;

  font-family: "Red Hat Display", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: max-content;
}

.card-content {
  margin: 3.2rem 2.4rem;
}

/*! Order Card */
.order-card {
  width: 32rem;
  margin: 6.4rem 0;

  background-color: #fff;
  border-radius: 1.6rem;
  overflow: hidden;

  box-shadow: 0 2rem 1.8rem rgba(114, 128, 167, 0.2);
}

/*! Order Card Image */
.order-img {
  width: 100%;
  height: auto;
}

/*! Order Card Text Box */
.order-text-box {
  text-align: center;
}

.order-heading {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.order-description {
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

/*! Order Annual Plan Box */
.order-plan-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;

  background-color: hsl(225, 100%, 98%);
  border-radius: 1.2rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;

  font-size: 1.4rem;
}

.order-plan-img {
  width: 4.4rem;
  height: 4.4rem;
}

.plan-title {
  display: block;
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.order-plan-link {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: 700; /*! ??????  */
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.order-plan-link:hover {
  text-decoration: none;
  color: #766cf1;
  /* font-size: 2rem; */
}

.order-btn {
  display: block;
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;

  padding: 1.2rem 0;
  border-style: none;
  border-radius: 0.8rem;
  margin-bottom: 2.4rem;
  cursor: pointer;

  box-shadow: 0 1.2rem 1.2rem rgba(56, 41, 224, 0.2);
  transition: all 0.3s;
}
.order-btn:hover {
  background-color: #766cf1;
}

.btn-box {
  text-align: center;
}

.order-cancel {
  /* display: flex;
  justify-content: center; */

  /* margin: 0 auto; */
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
}
.order-cancel:hover {
  color: hsl(223, 47%, 23%);
}

/*! Order Card Image */

/*! FrontEndMentor style  */
.attribution {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/** Media at 432px */
@media (min-width: 27em) {
  body {
    background-image: linear-gradient(
        rgba(224, 232, 255, 0.8),
        rgba(224, 232, 255, 0.8)
      ),
      url("/images/pattern-background-desktop.svg");
    /* background-size: 100%; */
    background-repeat: repeat-x;
  }

  .order-card {
    width: 42rem;
  }

  .card-content {
    margin: 4rem 3.6rem 4.8rem 3.6rem;
  }

  .order-plan-box {
    gap: 2.2rem;
    padding: 2.2rem;
  }

  .order-plan-annual-box {
    /* justify-self: start; */
    margin-right: auto;
  }

  .order-btn {
    padding: 1.6rem 0;
    margin-bottom: 3.2rem;
  }

  .order-cancel {
    /* margin-bottom: 1.6rem; */
  }
}
